<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title> Bicycle Crashes in Cambridge, MA </title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZnvqy9HEpG-LAQwm_AxDOegMciI9jgP4&libraries=geometry&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/d3.v3.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/tipsy.css"/> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/accidents.css"> </style>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/accidents_utils.js"></script>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47759411-2', 'youarehere.cc');
      ga('send', 'pageview');

    </script>

<script type="text/javascript">

var mapCenter = [-122.643914,45.515971];
var scaleFactor = 1.0;
var blurConstant = 0.3;
var clusterStrokeOpacity = 0.3;
var clusterStrokeWidth = 3;
var shellRandomShift = 0.002;
var shellOpacity = 0.2;
var shellRadius = 4;
var coreOpacity = 0.5;
var coreRadius = 0.5;
var cityName = 'Cambridge';
var streetView = '#street-view';
var URL_PREFIX = '{{URL_PREFIX}}';

var streetName_offset_left = -60;
var streetName_offset_top = -25;
var bikeways;
var bikeway_offset0 = -240;
var bikeway_offset1 = -195;
var scaleFactor2 = 1.6;


$(window).load(function(){

  $('.container').css('width', '1000px');
  jQuery.getJSON('{{URL_PREFIX}}static/data/Cambridge/boundary.geojson', function(geojson){
    geoJSON = geojson;
    setProjection();
    drawMap();
    initialize();
    jQuery.getJSON('{{URL_PREFIX}}static/data/Cambridge/bicycle_accidents/final_corrected_data.json', function(data){
      
      allData= data;
      accidentData = data['accidents'];
      console.log(accidentData.length);
      accidentDataDraw = accidentData;
      finalClusters = allData['clusters'];
      processChartData(allData["streets"]);
      drawClusters();
      drawController();
      jQuery.getJSON('{{URL_PREFIX}}static/data/Cambridge/bicycle_accidents/bikeways.geojson', function(data){
          bikeways = data;
          setProjection2();
          drawBikeways();

      });
    });
  });



});


</script>
</head>
<body>
<div class="container">

  <div id="drawer">
      <p id='details'> <i id='button-icon' class="glyphicon glyphicon-chevron-left" style="float:left;left:-22px;top:5px;"></i> Details </p>
     <!-- <span>
      <svg height='50' width='50' style="z-index:1">
        <circle cx="20" cy="23" r="15"  stroke-opacity="0.0" fill="#FA8602" fill-opacity="0.5" />
      </svg> -->
      <!-- Details
      
      </span> -->
  </div>

  <div id="mainframe">

    <div id="svgContainer"></div>


     <div class="title-container">
            <div class="title-text">
                <h1 class="title">
                    <span id="mapClass" class="title-keyword"> Cambridge</span> 
                </h1>
                <div class="subtitle">
                    This map visualizes the 746 bicycle crashes in Cambridge, MA 
                    </br>
                    from 2010 to 2013
                    <span id="showMore"> ... more </span>
                </div>
            </div>
    </div>

    <div id="bottomContainer">
      <div id="footer">
       <a id="logo" href="http://youarehere.cc">
                  <img src="{{URL_PREFIX}}static/img/logo_png24.png" style="width: 40px">
        </a>
        <!--<img src="/static/img/logo.png" style="width: 40px;"/> -->
        This work is part of the <a href="http://youarehere.cc">You Are Here</a> project
        <span class="footer-plus">+</span>
        <a href="http://socialcomputing.media.mit.edu"> The Social Computing Group </a>
        <span class="footer-plus">+</span>
        <a href="http://media.mit.edu"> MIT Media Lab </a>
      </div>


      <div class="navElements">
        <a id="ember324" class="ember-view" href="/#/maps">
          maps
        </a>
        |
        <a id="ember348" class="ember-view" href="/#/about">
          about
        </a>
        |
        <a id="ember356" class="ember-view" href="/#/faq">
          f.a.q
        </a>
        |
        <a id="ember364" class="ember-view" href="/#/contact">
          contact us
        </a>
            </div>
      <div class="spacer"></div>
    </div>


    <div id='essayBox'>
      <div id='essayBox-close' class="glyphicon glyphicon-remove"></div>
      <div id='essayContent'>
        <p>
          This map visualizes the 746 bicycle crashes in the city of Cambridge, Massachusetts from 2010-2013.
        </p>

        <p> 
        In Cambridge alone the number of daily bike commuters has quadrupled since 2006. This map helps to show where crashes tend to happen &mdash; like Mass Ave and Cambridge Street and Hampshire Street &mdash; in the hope that those streets might be made safer for riders.  
        <p>

        <p>
        You can explore this map on three levels: city, street and location.
  <b>City:</b> Each reported bike crash is recorded as a dot on the map.  Streets on which bike crashes are common are outlined in red.  You may hover over an crash to see the street or intersection on which it occurred.
  <b>Street:</b> Pull out the infographic panel from the top right of the map to make street-wise comparison of crashes. You can click on each bar to visualize only the crashes on that particular street
  <b>Location:</b> Use the streetview tab and hover over an crash point to get a localized view of the crash site.
        </p>

        <p>
  All crashes were placed on the map as a point at the place where they occurred.  Not all bike crashes are reported to the police, and this map only shows those that are reported.  In order to show those streets where crashes were common, we used an average-link agglomerative clustering algorithm to cluster the crashes.  The large clusters, in which many crashes on a single street length, are shown by a red line.  Green lines on the map indicate existing bike paths.
        </p>

        <p>
  The data extraction and geolocation was written in Python, and the visualization was written in JavaScript and D3.  We used the Google Maps API to geolocate every crash point, since the data was given to us as street addresses or intersections. 
        </p>

        <p style="color:#898989;"> Data Sources </p>
        <ol>
          <li><a href="http://www.cambridgema.gov/cpd/">Cambridge Police Department Bicycle Accident Reports </a> <a href="http://youarehere.cc/p/static/data/Cambridge/bicycle_accidents/final_prettified.json"> (Raw Data) </a> </li>
          <li><a href="https://developers.google.com/maps/documentation/business/geolocation/"> Google Maps Geolocation API</a></li>
          <li><a href="https://developers.google.com/maps/documentation/streetview/">Google Maps StreetView Image API </a></li>
        </ol>
        <p id='viewMap' style="color:rgb(222,16,40);cursor:pointer;"> View map </p>

      </div>
    </div> 

    <p id='streetname'></p>

  </div>



   <div id="infoGraphic">     
    <div id="tabContainer">
      <ul id="infoTabs" class="nav nav-tabs">
        <li id="tab_1" style="background-color:rgba(43, 40, 40, 0.7);"> Street Graph </li>
        <li id="tab_2"> Street View</li>
      </ul>
    </div>
    <div id="paneContent">
      <div id="tabcontent_1" >
        </br>
        <p align="center"> Crashes by Street </p>
        <p id="chartTitle" align="center"> </p>
        <div id="chart"> </div>
      </div>
      <div id="tabcontent_2">
        <img id="street-view" > </img>
        <p id="address" align="center">Hover over a crash to view its location.</p>
        <br></br>
      </div>
    </div>
  </div> 

  

  </div>
    
</div>
</body>
</html>