<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZnvqy9HEpG-LAQwm_AxDOegMciI9jgP4&libraries=geometry&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/d3.v3.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/> 
    <link rel="stylesheet" type="text/css" href="/static/css/tipsy.css"/> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/GeoJSON.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/green.css"> </style>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/green.js"></script>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47759411-2', 'youarehere.cc');
      ga('send', 'pageview');

    </script>
    
   <script type="text/javascript">
   var map;
   var canvasLayer;
   var context;
   var accidentData;

   var bikeFlag = false;
   var bikeLayer;
   var activeTab;
   var vertActiveTab;
   var activeTabContent;
   var pano;
   var chartData = [];
   var chartDrawn = false;
   var allClusters = {};
   var finalClusters = {};
   var projection = d3.geo.mercator();
   var path = d3.geo.path().projection(projection); 
   var geoJSON;
   var greenData;
   var scaleFactor = 1.0;
   var svg;
   var points = [];
   var drawIndex = 0;
   var maxWidth = 1;
   var maxPoints;
   var currentDrawPoints;

   $(window).load(function(){
    $('.container').css('width', '1000px');
    $.getJSON('{{URL_PREFIX}}static/data/Cambridge/boundary.geojson', function(geojson){
      geoJSON = geojson;
      setProjection();
      drawMap();

      $.getJSON('{{URL_PREFIX}}static/data/Cambridge/green/greenery2.geojson', function(greenGeoJSON){
        greenData = greenGeoJSON;      
        drawCircles();   
      });
    });
  });
     
   </script>
    </head>
    <body>
    <div class="container">
      <div id="svgContainer"></div>
    </div>
    </body>

</html>
    