html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  /*background-color: rgba(43, 40, 40, 0.8);*/
  background-color: rgba(255,255,255,1.0);
  color: #FA8602;
  overflow: hidden;
}

#svgContainer {
  width: 100%;
  height: 100%;
  float:left;
  border-left: 5px;
}
    
#infoGraphic{
  position: absolute;
  height: 100%;
  width: 5%;
  left: 100%;
  margin-right: 2%;
  float:right;
  border-left: '1px';
  border-left-color:#000000; 
  background-color: rgba(43, 40, 40, 0.1);
  visibility: hidden;
  z-index: 2;
}

#chart {
  width:80%; 
  height:80%;
}

#drawer {
  left : 95%;
  float:right;
  position:absolute;
  background-color:'#093DDB';
  z-index: 3;
  top:2%;
  cursor:pointer;
}

#drawer i{
  position:absolute; 
  left:35%; 
  top:33%; 
  z-index:3;
  cursor:pointer;
}

#logo{
  left : 3%;
  float:left;
  position:absolute;
  z-index: 3;
  top:2%;
}

#id {
  color:#FA8602;
  font-size:15pt;
}


#paneContent{
  height:100%;
  width:100%
}
#tabcontent_1{
  height:100%;
  width:100%
}

#tabcontent_2{
  height:100%;
  width:100%
}


#tabContainer{
  width: 100%;
  height: 5%;
}


#street-view{
  width:95%;
  height:70%;
  visibility: hidden;
  top:3%;
  opacity: 0.6;
  overflow: hidden;
}


.nav  {
  border-color: #404142;
}

ul {
  width: 100%;
  height: 100%;
}

li  {
  border-color: #404142;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:rgba(43, 40, 40, 0.1);
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  height: 100%;
  width: 50%;
  padding-top: 10px;
}




rect {
  cursor: pointer;
}



#title {
  position:absolute;
  left:3%;
  top: 75%;
  font-size:65px;
  color: #969596;
  letter-spacing: 2px;
}

#map-descp {
  position: absolute;
  top:86%;
  left: 3%;
  /*color: #7F7E80;*/
  color :#FA8602;
  letter-spacing: 1.5px;
}

#data-lightbox {
  position: absolute;
  border-radius: 5px;
  opacity: 0.0;
  top: 35%;
  float:left;
  left:35%;
  border:1px;
  border-color: rgba(43, 40, 40, 0.5);
  border-style: outset;
  width: 500px;
  color :rgba(250,250,250,0.98);
  padding: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color:rgba(0, 0, 0, 0.2);
}

#lightbox-close {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.25;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
}

#footer {
  position: absolute;
  left:2.68%;
  top:95%;
  font-size: 12px;
  padding: 5px 10px 10px 5px;
  color: rgba(127,126,128,0.98);
  z-index: 2;
  letter-spacing: 1.5px;
}
 
#footer i.fa-plus {
  color: #FA8602;
  font-size: 8px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(175,175,175,1.0);
  font-size: 12px;
}

.footer-highlight{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
  font-size: 12px;
}
