html, body{
  max-height: 800px;
  max-width: 2000px;
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  background-color: rgba(43, 40, 40, 0.8);
  color: #FA8602;
  overflow-y: hidden;
  overflow-x:scroll;

}

#svgContainer {
  position: relative;
  top: -70px;
  width: 1200px;
  height: 800px;
}

#svgContainer svg{
  position: absolute;
  left: 100px;
}


#infoGraphic{
  position: relative;
  height: 800px;
  width: 0px;
  right: 0px;
  margin-right: 2px;
  float:right;
  background-color: rgba(43, 40, 40, 0.1);
  visibility: hidden;
  z-index: 1;
}

#chart {
  width:80%; 
  height:60%;
}

#drawer {
  position: relative;
  right:50px;
  top:30px;
  float:right;
  background-color:'#093DDB';
  z-index: 3;
  cursor:pointer;
}

#drawer i{
  position:absolute; 
  left:35%; 
  top:33%;
  z-index:3;
  cursor:pointer;
}



#id {
  color:#FA8602;
  font-size:15pt;
}


#paneContent{
  height:100%;
  width:100%
}
#tabcontent_1{
  height:100%;
  width:100%
}

#tabcontent_2{
  height:100%;
  width:100%
}


#tabContainer{
  width: 100%;
  height: 5%;
}


#street-view{
  width:100%;
  height:70%;
  visibility: hidden;
  top:3%;
  opacity: 0.6;
  overflow: hidden;
}


.nav  {
  border-color: #404142;
}

ul {
  width: 100%;
  height: 100%;
}

li  {
  border-color: #404142;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:rgba(43, 40, 40, 0.1);
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  height: 100%;
  width: 50%;
  padding-top: 10px;
}




rect {
  cursor: pointer;
}

#text-descp{
  position: relative;
  top: -300px;
  left: 50px;
  height: 200px;
  font-size: 100px;
  z-index: 3;

}

#logo{
  position:relative;
  top: 30px;
  left :30px;
  height: 60px;
  width: 60px;
  z-index: 3;
}

#title {
  font-size:15%;
  color: #969596;
  font-size: 60%;
  letter-spacing: 2px;
  z-index: 3;
}

#map-descp {
  font-size: 15%;
  color :#FA8602;
  letter-spacing: 1.5px;
  z-index: 3;
}



#data-lightbox {
  position: absolute;
  border-radius: 5px;
  opacity: 0.0;
  top: 35%;
  float:left;
  left:35%;
  border:1px;
  border-color: rgba(43, 40, 40, 0.5);
  border-style: outset;
  width: 500px;
  color :rgba(250,250,250,0.98);
  padding: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color:rgba(0, 0, 0, 0.2);
  z-index: 5;
}

#lightbox-close {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.25;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
}

#footer {
  position: relative;
  left: -5px;
  top: 40px;
  font-size: 12px;
  padding: 5px 10px 10px 5px;
  color: rgba(160,160,160,0.98);
  z-index: 3;
  letter-spacing: 1.5px;
}
 
#footer i.fa-plus {
  color: #FA8602;
  font-size: 8px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(200,200,200,1.0);
  font-size: 12px;
}

.footer-highlight{
  color: rgba(200,200,200,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
  font-size: 12px;
}



