html, body{
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
  background-color: rgba(43, 40, 40, 0.8);
  color: #FA8602;
  overflow-y: hidden;
}

.container{
  width: 1000px;
}


#svgContainer {
  position: relative;
  margin-top: 10px;
  width: 1000px;
  height: 680px;
  z-index: 1;
}

#streetname{
  display: none;
  color:white;
  font-family: 'EB Garamond', serif;
  position: relative;
  z-index: 15;
}

#infoGraphic{
  position: relative;
  height: 600px;
  width: 0px;
  right: 0px;
  top:-830px;
  margin-right: 2px;
  float:right;
  font-size: 14px;
  background-color: rgba(43, 40, 40, 0.1);
  display: none;
  z-index: 6;
}

#chart {
  width:80%; 
  height:60%;
}

#drawer {
  position: relative;
  right:0px;
  top:10px;
  height: 20px; width: 20px;
  float:right;
  z-index: 7;
  cursor:pointer;
}

#details{
  position: relative;
  font-size: 20px;
  top: 15px;
  right:30px;
  width: 150px;
  float: left;
}

#drawer i{
  position:absolute; 
  left:30%; 
  top:10%;
  z-index:3;
  cursor:pointer;
}



#id {
  color:#FA8602;
  font-size:15pt;
}


#paneContent{
  height:100%;
  width:100%
}
#tabcontent_1{
  height:100%;
  width:100%
}

#tabcontent_2{
  height:100%;
  width:100%
}


#tabContainer{
  width: 100%;
  height: 30px;
  font-size: 14px;
}


#street-view{
  width:100%;
  margin-top: 2px;
  height:280px;
  visibility: hidden;
  top:3%;
  opacity: 0.6;
  overflow: hidden;
}


.nav  {
  border-color: #404142;
}

ul {
  width: 100%;
  height: 100%;
}

li  {
  border-color: #404142;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:rgba(43, 40, 40, 0.1);
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 100%;
  width: 50%;
  padding-top: 5px;
}




rect {
  cursor: pointer;
}


.title-container {
    position: relative;
    top: -165px;
    float:left;
    margin-top: 5px;
    font-family: 'EB Garamond', serif;
    z-index: 7;
}

.title-container #logo, .title-container .title-text {
    float: left;
}

.title-container .title-text {
    color: rgba(225,225,225,0.7);
}

.title-container #showMore {
    font-weight: bold;
    color: rgba(225,225,225,1.0);
    cursor: pointer;
    
}


.title-text .title {
    margin-bottom: 5px; 
    font-size: 50px;
}

.title-text .subtitle {
    font-size: 16px;
    color: #FA8602;
    opacity: 0.8;
}

.title-keyword {
    color: rgba(225,225,225,0.85);
}

#essayBox{
  position: relative;
  top: -700px;
  border:1px;
  border-color: rgba(43, 40, 40, 0.5);
  border-style: outset;
  height: 650px;
  width: 980px;
  border-radius: 5px;
  opacity: 0.0;
  display: none;
  color :rgba(250,250,250,0.98);
  padding: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  z-index: 12;
  background-color:rgba(0, 0, 0, 0.8);
  font-family: 'EB Garamond', serif;
  overflow-y:scroll;
}

#essayBox-close {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0.25;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
}

#essayBox h1{
  border-bottom: 1px solid;
}

#essayBox li{
  text-align: left;
}

#essayBox a{
  font-size: 16px;
}



#footer {
  position: relative;
  top: -135px;
  float: left;
  width: 100%;
  border-top: 1px dotted rgba(200,200,200,0.25);
  margin-top: 10px;
  font-size: 12px;
  padding: 5px 10px 10px 0px;
  color: rgba(160,160,160,0.98);
  z-index: 6;
  letter-spacing: 1.5px;
}


 
#footer i.fa-plus {
  color: #FA8602;
  font-size: 12px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(200,200,200,1.0);
  font-size: 12px;
}

.footer-highlight{
  color: rgba(200,200,200,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
  font-size: 12px;
}



