html, body{
  max-height: 800px;
  max-width: 2000px;
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  overflow-y: hidden;
  overflow-x:hidden;
}


#svgContainer {
  position: relative;
  top: -50px;
  left:125px;
  width: 1200px;
  height: 750px;
}

#svgContainer svg{
  position: absolute;
  left: 100px;
}


.tag {
  z-index:5;
  width:100px;
  font-size:12px;
  color:#F52307;
  text-align: center;
  cursor: pointer;
  text-decoration: bold;
}


#logo{
  position:relative;
  top: 50px;
  left :150px;
  height: 60px;
  width: 60px;
  z-index: 3;
}

#text-descp{
  position: relative;
  top: -285px;
  left: 150px;
  height: 200px;
  z-index: 3;

}


#title {
  font-size:35pt;
  color: rgba(80,80,80,1.0);
  letter-spacing: 2px;
  z-index: 3;
  margin-bottom: -8px;
}



#map-descp {
  margin-top: 0px;
  border-top: 0px;
  padding-top: -5px;
  font-size: 14pt;
  color :rgb(220,60,45);
  letter-spacing: 1.5px;
  z-index: 3;
}



#data-lightbox {
  position: absolute;
  border-radius: 5px;
  opacity: 0.0;
  top: 35%;
  float:left;
  left:35%;
  border:1px;
  border-color: rgba(5, 5, 5, 0.3);
  border-style: outset;
  width: 500px;
  color :red;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.9);
  z-index: 0;
}

#line1{
  font-size: 18px;
}

#data-descrp{
  font-size: 10px;
  text-align: right;
}

.highlight-link{
  font-size: 12px;
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

#lightbox-close {
  cursor: pointer;
  opacity: 0.6;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
  z-index: 7;
}

#footer {
  position: relative;
  left: 150px;
  bottom:340px;
  font-size: 12px;
  padding: 5px 10px 10px 5px;
  color: rgba(160,160,160,0.98);
  z-index: 3;
  letter-spacing: 1.5px;
}
 
#footer i.fa-plus {
  font-size: 8px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(100,100,100,1.0);
  font-size: 12px;
}

.footer-highlight{
  color: rgba(100,100,100,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(100,100,100,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
  font-size: 12px;
}


