body{
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

.container{
  position: relative;
}

#svgContainer {
  position: relative;
  width: 1100px;
  height: 625px;
  margin-top: 65px;
  z-index: 2;
}

canvas{
  position: absolute;
  margin-top: 65px;
  width: 1100px;
  height: 625px;
  z-index: 1;
}


#sliderContainer{
  float:left;
  height: 15px;
  width:450px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(left,#d9f0a3, #238443); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left,#d9f0a3, #238443); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,#d9f0a3, #238443); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left,#d9f0a3, #238443); /* Standard syntax */
  border-radius: 0px;
  border:none;
}


.title-container {
  margin-top: 30px;
  font-family: 'EB Garamond', serif;

}

.title-container #logo, .title-container .title-text {
    float: left;
    font-size: 18px;
}

.title-container .title-text {
    margin-left: 10px;
}

.title-container #showMore {
    z-index: 3;
    color: rgb(222,16,40);
}


.title-text .title {
    margin-top: 0px; 
    margin-bottom:0px
}

.title-text .subtitle {
    font-size: 16px;
    color: gray;
}

.title-keyword {
    color: #545454;
}

#showMore{
  cursor: pointer;
}

#essayBox{
  position: absolute;
  display: none;
  top: 90px;
  left:0px;
  height: 625px;
  border-radius: 5px;
  opacity: 0.0;
  color : #444;
  padding: 40px;
  font-size: 14px;
  letter-spacing: 1.5px;
  background-color:rgba(255, 255, 255, 0.8);
  font-family: 'EB Garamond', serif;
}

#essayBox-close {
  cursor: pointer;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
  color:rgb(222,16,40);
}

#essayContent{
  margin-left: 18px;
}

#essayContent p {
    margin-bottom: 20px;
}

#essayContent a {
    color: black;
    text-decoration: underline;
}



#footer {
  float: left;
  width: 100%;
  border-top: 1px dotted rgba(200,200,200,0.4);
  margin-top: 20px;
  font-size: 15px;
  color: rgba(160,160,160,0.98);
  z-index: 4;
  letter-spacing: 1.5px;
}

#footer i.fa-plus {
  font-size: 12px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(200,200,200,1.0);
}

.footer-highlight{
  color: rgba(200,200,200,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
}