body{
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

.container{
  position: relative;
}

#mainframe{
  position: relative;
  height: 625px;
  width: 1100px;
  font-size: 18px;
}

#svgContainer {
  top: 0;left: 0;
  position: absolute;
  width: 1100px;
  height: 625px;
  z-index: 4;
}

#streetname{
  z-index: 8;
  display: none;
  font-size: 14px;
}

#chartKey{
  position: absolute;
  display: none;
  width: 80px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(50,50,50,0.6);
  color:rgba(225,225,225,1.0);
}

canvas{
  top: 0;left: 0;
  position: absolute;
  width: 1100px;
  height: 625px;
  z-index: 1;
}

#graphContainer{
  bottom: 0px; left:0px;
  height: 100px;
  width: 350px;
  z-index: 5;
}

#dataContainer{
  display: none;
  position: absolute;
  bottom: 0px;left: 0px;
  z-index: 6;
}

#sliderContainer {
  margin-bottom: 0px;
  width: 400px;
  z-index: 6;
}

#sliderContainer p{
  font-size: 15px;
  z-index: 6;
}

#slider{
  height: 15px;
  width:350px;
  z-index: 6;
  background: -webkit-linear-gradient(left,#d9f0a3, #238443); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left,#d9f0a3, #238443); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,#d9f0a3, #238443); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left,#d9f0a3, #238443); /* Standard syntax */
  border-radius: 0px;
  border:none;
}


#allStreets{
  display: none;
  width: 125px;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid green;
  margin-bottom: 35px;
  color:green;
  cursor: pointer;
  z-index: 7;
}



.title-container {
  margin-top: 30px;
  font-family: 'EB Garamond', serif;

}

.title-container #logo, .title-container .title-text {
    float: left;
    font-size: 18px;
}

.title-container .title-text {
    margin-left: 10px;
}

.title-container #showMore {
    z-index: 3;
    color: rgb(222,16,40);
}


.title-text .title {
    margin-top: 0px; 
    margin-bottom:0px
}

.title-text .subtitle {
    font-size: 16px;
    color: gray;
}

.title-keyword {
    color: #545454;
}

.spacer{
  height: 1px;
  clear:both;
}

#showMore{
  cursor: pointer;
}

#essayBox{
  position: absolute;
  display: none;
  top: 90px;
  left:0px;
  height: 625px;
  border-radius: 5px;
  opacity: 0.0;
  color : #444;
  margin-top: 0px;
  padding: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color:rgba(255, 255, 255, 0.8);
  font-family: 'EB Garamond', serif;
}

#viewMap{
  cursor: pointer;
}

#essayBox-close {
  cursor: pointer;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
  z-index: 6;
  color:rgb(222,16,40);
}

#essayContent{
  margin-top: 5px;
  margin-left: 18px;
}

#essayContent p {
    margin-bottom: 20px;
}

#essayContent a {
    color: black;
    text-decoration: underline;
}

#essayContent h3{
  font-weight: bold;
}



#footer {
  float: left;
  width: 100%;
  border-top: 1px dotted rgba(200,200,200,0.6);
  margin-top: 15px;
  padding-top: 5px;
  font-size: 13px;
  color: rgba(160,160,160,0.98);
  z-index: 4;
  letter-spacing: 1px;
}

#footer i.fa-plus {
  font-size: 12px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(200,200,200,1.0);
}

.footer-highlight{
  color: rgba(200,200,200,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
}