body{
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

.container{
  position: relative;
  z-index: 3;
}

#mapContainer{
  z-index: 1;
  width: 100%;
  height: 850px;
}

#mainframe{
  position: relative;
  height: 625px;
  width: 100%;
  font-size: 18px;
  /*overflow-y:scroll;*/
}

#introMsg{
  position: absolute;
  font-family: 'EB Garamond', serif;
  float: right;
  font-size: 15px;
  top: 40px;
  left: 560px;
}

#hover_value{
  position: relative;
  height: 15px;
  z-index: 10;
  font-size: 14px;
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
  background-color: white;
}

.nhoodlabel{
  font-color:gray;
  font-weight: 500;
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  opacity: 0.5;
}

#svgContainer {
  top: 0;left: 0;
  position: absolute;
  margin-top: 10px;
  width: 1100px;
  height: 625px;
  z-index: 3;
}

#building_layer{
  top: 0;left: 0;
  position: absolute;
  margin-top: 10px;
  width: 1100px;
  height: 625px;
  z-index: 4;
}

#svgControlContainer{
  top: 0;left: 0;
  position: absolute;
  margin-top: 10px;
  width: 1100px;
  height: 625px;
  z-index: 6;
}

#svgContainerNY{
  top: 0;left: 0;
  position: absolute;
  margin-top: 10px;
  width: 1100px;
  height: 625px;
  z-index: 3;
}

#building_layerNY{
  top: 0;left: 0;
  position: absolute;
  margin-top: 10px;
  width: 1100px;
  height: 625px;
  z-index: 4;
}

#svgControlContainerNY{
  top: 0;left: 0;
  position: absolute;
  margin-top: 10px;
  width: 1100px;
  height: 625px;
  z-index: 6;
}

.nhood{
  z-index: 7;
}



.title-container {
  position: relative;
  z-index: 3;
  margin-top: 30px;
  font-family: 'EB Garamond', serif;

}

.title-container #logo, .title-container .title-text {
    float: left;
    font-size: 18px;
}

.title-container .title-text {
    margin-left: 10px;
}

.title-container #showMore {
    z-index: 3;
    color: rgb(222,16,40);
}


.title-text .title {
    margin-top: 0px; 
    margin-bottom:0px
}

.title-text .subtitle {
    font-size: 16px;
    color: gray;
}

.title-keyword {
    color: #545454;
}

.spacer{
  height: 1px;
  clear:both;
}

#showMore{
  cursor: pointer;
}

#essayBox{
  position: absolute;
  overflow-y:scroll;
  display: none;
  top: 90px;
  left:0px;
  height: 625px;
  border-radius: 5px;
  opacity: 0.0;
  color : #444;
  margin-top: 0px;
  padding: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color:rgba(255, 255, 255, 0.8);
  font-family: 'EB Garamond', serif;
}


#viewMap{
  cursor: pointer;
}

#essayBox-close {
  cursor: pointer;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
  z-index: 6;
  color:rgb(222,16,40);
}

#essayContent{
  margin-top: 5px;
  margin-left: 18px;
}

#essayContent p {
    margin-bottom: 20px;
}

#essayContent a {
    color: black;
    text-decoration: underline;
}

#essayContent h3{
  font-weight: bold;
}

#textContainer{
   position: absolute;
  z-index: 10;
  float: left;
  margin-left: 60px;
  top: 120px;
  font-family: 'EB Garamond', serif;
  font-size: 15px;
  font-weight: lighter;
}


#dataSentence{
  display: none;
  margin-bottom: 10px;
  font-size: 18px;
}


#footer {
  float: left;
  width: 100%;
  border-top: 1px dotted rgba(200,200,200,0.6);
  margin-top: 15px;
  padding-top: 5px;
  font-size: 13px;
  color: rgba(160,160,160,0.98);
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
  z-index: 4;
  letter-spacing: 1px;
}

#footer i.fa-plus {
  font-size: 12px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(200,200,200,1.0);
}

.footer-highlight{
  color: rgba(200,200,200,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(175,175,175,1.0);
  cursor: pointer;
  text-decoration: underline;
}
 

.footer-plus {
  color: #656566;
}


