<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/transportation.css"> </style>
    <script type="text/javascript" src='{{URL_PREFIX}}static/js/transportation.js'></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47879752-1', 'mit.edu');
      ga('send', 'pageview');

    </script>
    
    <script type="text/javascript">

    var scaleFactor = 0.90;
    var mapCenter = [-71.123625,42.372115];
    var labelXoffset = 140;
    var labelYoffset = 25;
    var drawSpeed = 20;
    var segments;
    var structuredOffset = false;
    var buildings;
    var values1;
    var values2;
    var blurConstant = 0.3;
    var PARKING_TIME = 8; // (in minutes)

    $(window).load(function(){
      jQuery.getJSON('{{URL_PREFIX}}static/data/Cambridge/boundary.geojson', function(geojson){
            geoJSON = geojson;
            setProjection();
            drawMap();
            initialize();

        $('#scale').offset({top:200, left:800});

        d3.json('{{URL_PREFIX}}static/data/Cambridge/transportation/blocks_processed.geojson', function(geojson2){
              buildings = geojson2;
              drawBlocks();

          d3.json('{{URL_PREFIX}}static/data/Cambridge/transportation/driving_values.json', function(valuesD){
                values1 = valuesD;

            d3.json('{{URL_PREFIX}}static/data/Cambridge/transportation/transit_values.json', function(valuesT){
                  values2 = valuesT;
            });
          });
        });
      });
    });


    function initHandlers(){
      $('.block').click(function(){
        var this_id = $(this).attr('id');
        var allBlocks = $('.block');
        $('.block').each(function(){
          var block_id = $(this).attr('id');
          if (block_id != this_id){
            var val1 = parseFloat(values1[this_id][block_id][0]) + (60 * PARKING_TIME); // for parking time
            var val2 = parseFloat(values2[this_id][block_id][0]);
            var value = val1/val2; // transit more efficient
            var colorValue = getColor(value, val1 < val2);
            var opValue = getOpacity(value);
            d3.select(this).attr('fill', colorValue).attr('fill-opacity',1.0).attr('stroke', colorValue).attr('stroke-opacity',0.05);
          } else {
            d3.select(this).attr('fill','gray').attr('fill-opacity',0.5).attr('stroke','black').attr('stroke-opacity',0.9).attr('stroke-width',2);
          }
          
        })
      })
    }

    function getColor(value, scaleBoolean){
      var cScale;
      console.log(value, scaleBoolean);
      if (scaleBoolean){
        cScale = d3.scale.linear().domain([0,1.0]).range(["rgb(247,67,7)","rgb(255,255,255)"]);
      } else {
        cScale = d3.scale.linear().domain([1.0, 1.8]).range(["rgb(255,255,255)","rgb(247,219,7)"]);
      } 
      return cScale(value);
    }

    function getOpacity(value){
      var opScale = d3.scale.linear().domain([0, 1]).range([0.2,0.9]);
      return opScale(value);
    }


    function drawBlocks(){

      var filter = svg.append("defs")
        .append("filter")
          .attr("id", "blur")
        .append("feGaussianBlur")
          .attr("stdDeviation", blurConstant);

      var buildingsPaths = svg.selectAll(".block")
          .data(buildings.features)
          .enter().append("path")
          
          .attr("class", "block")
          .attr("fill", 'white')
          .attr("fill-opacity", 1.0)
          .attr("id", function(d){return d.id;})
          .attr("d",path)
          .attr("stroke", 'black')
          .attr("stroke-opacity", 0.4);

      initHandlers();
    } 



    </script>
    </head>

    <body>
      <a href="http://youarehere.media.mit.edu"><img id="logo" src="{{URL_PREFIX}}static/img/logo.jpg"></a>
    	<div id="svgContainer"></div>

      <div id='data-lightbox'>
        <div id='lightbox-close' class="glyphicon glyphicon-remove"></div>
         <p id='line1'> We simulate the shortest route from any point in the city's grid to the closest transit station.</p>
        <br>
         <p id='data-descrp'> Data Source: Google Maps.</p>
      </div>

      <div id='text-descp'>
        <p id='title'> Cambridge</p>
      

        <p id='map-descp'>
          Transportation efficienty - Driving duration vs Public transportation duration 
        </p>
      </div>
      

        <div id="footer">
          <!--<img src="/static/img/logo.png" style="width: 40px;"/> -->
          This work is part of the <a href="http://youarehere.media.mit.edu">You Are Here</a> project
          <span class="footer-plus">+</span>
          <a href="http://socialcomputing.media.mit.edu"> The Social Computing Group </a>
          <span class="footer-plus">+</span>
          <a href="http://media.mit.edu"> MIT Media Lab </a>
          <span class="footer-plus">+</span>
          <a href="http://mit.edu"> MIT</a>
          &nbsp
          <span class="footer-plus">|</span>
          &nbsp
          <span id="data-source" class='footer-highlight'> Data Source</span>
        </div>

      <div id='scale'>
        <p> most efficient driving
        <span>
        <svg height="15" width="200">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:rgb(247,67,7);stop-opacity:1" />
              <stop offset="50%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
              <stop offset="100%" style="stop-color:rgb(247,219,7);stop-opacity:1" />
            </linearGradient>
          </defs>
          <rect width="200" height="15"  fill="url(#grad1)" />
        </svg>
        </span>
        most efficient transit </p>
      </div>

    </body>
</html>
    