<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title> Fastest Mode of Transport - Manhattan </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/jquery.tipsy.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/transportation-nyc.css"> </style>
    <script type="text/javascript" src='{{URL_PREFIX}}static/js/transportation.js'></script>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47879752-1', 'mit.edu');
      ga('send', 'pageview');

    </script>
    
    <script type="text/javascript">
    $('.container').css('width', '950');
    var scaleFactor = 1.0;
    var mapCenter = [-71.123625,42.372115];
    var labelXoffset = 140;
    var labelYoffset = 25;
    var drawSpeed = 20;
    var segments;
    var dataValues;
    var structuredOffset = false;
    var buildings;
    var blurConstant = 0.3;
    var moveDown = 10;
    var moveRight = 20;
    var cmap = {'walking':"#4dac26", 'transit': "#2b83ba", 'bicycling': "#fdae61", 'driving': "#d7191c"};
    var opacityScales={};
    var centerCircle;
    var previousBlock;
    var originID;
    var neighborhoods;
    var roadsGJS;

    $(window).load(function(){
      jQuery.getJSON('{{URL_PREFIX}}static/data/Manhattan/boundary.geojson', function(geojson){
            geoJSON = geojson;
            setProjection();
            //drawMap();
            initialize();

        d3.json('{{URL_PREFIX}}static/data/Manhattan/transportation/block_groups_processed.geojson', function(geojson2){
              buildings = geojson2;
              drawBlocks();

          d3.json('{{URL_PREFIX}}static/data/Manhattan/roads_processed.geojson', function(roads){
           roadsGJS = roads;
            drawRoads();

           d3.json('{{URL_PREFIX}}static/data/Manhattan/transportation/bestMode_values2.json', function(values){
              dataValues = values; 
              initOpacityScales();
              var numBlocks = buildings.features.length;
              var randomBlock = Math.floor(Math.random() * numBlocks-1) + 1;
              originID = randomBlock;
              processBlocks(randomBlock);

            });
          });
        });
      });
    });

    function initOpacityScales(){
      var ranges = dataValues['ranges'];
      opacityScales['walking'] = d3.scale.linear().domain([ranges['walking'][0], ranges['walking'][1]]).range([0.3,1.0]);
      opacityScales['bicycling'] = d3.scale.linear().domain([ranges['bicycling'][0], ranges['bicycling'][1]]).range([0.3,1.0]);
      opacityScales['transit'] = d3.scale.linear().domain([ranges['transit'][0], ranges['transit'][1]]).range([0.3,1.0]);
      opacityScales['driving'] = d3.scale.linear().domain([ranges['driving'][0], ranges['driving'][1]]).range([0.3,1.0]);
    }

    function initHandlers(){

      if (previousBlock != undefined){
        d3.select(previousBlock).attr('stroke','gray').attr('stroke-opacity',0.0);
      }
      $('.controlBlock').click(function(){
        $('#hover_value').css('display','none');
        var this_id = $(this).attr('id');
        originID = this_id;
        previousBlock = d3.select(this);
        processBlocks(this_id);      
      });

      $('.controlBlock').on('mouseover', function(){
        var this_id = $(this).attr('id');
        if (dataValues[originID][this_id]['bestVal'] != undefined){
          $('#hover_value').css('display', 'inline');
          $('#hover_value').offset({left:$(this).offset().left - 20, top: $(this).offset().top - 20});
          $('#hover_value').html(convertTime(dataValues[originID][this_id]['bestVal']) + ' by ' + dataValues[originID][this_id]['bestMode']);
        } else {
          $('#hover_value').css('display', 'none');
        } 
      });

      $('.controlBlock').on('mouseleave', function(){
        $('#hover_value').css('display','none');
      });
    }

    function processBlocks(this_id){
      svg.selectAll('.block').each(function(){
          var block_id = parseInt($(this).attr('id'));
          if (block_id != this_id){
            //console.log(this_id, block_id);
            var bestMode = dataValues[this_id][block_id]['bestMode'];
            var bestVal = dataValues[this_id][block_id]['bestVal'];
            var colorValue = cmap[bestMode];
            d3.select(this)
              .attr('fill', colorValue)
              .attr('fill-opacity',opacityScales[bestMode](bestVal))
              .attr('stroke','none').attr('stroke-opacity',0.0);

          } else {
            d3.select(this)
              .attr('fill',cmap['walking'])
              .attr('stroke-width',1.8)
              .attr('stroke','black').attr('stroke-opacity',1.0)
              .attr('fill-opacity',0.5);
          }
          var areas = dataValues[this_id]['areas'];
          $('#dataSentence').css('display','inline');
          $('#driving_value').html(areas['driving'].toFixed(1) + '%');
          $('#transit_value').html(areas['transit'].toFixed(1) + '%');
          $('#bicycling_value').html(areas['bicycling'].toFixed(1) + '%');
          $('#walking_value').html(areas['walking'].toFixed(1) + '%');
          
        });
    }

    function drawBlocks(){


      var filter = svg.append("defs")
        .append("filter")
          .attr("id", "blur")
        .append("feGaussianBlur")
          .attr("stdDeviation", blurConstant);

      var buildingsPaths = svg.selectAll(".block")
          .data(buildings.features)
          .enter().append("path")
          
          .attr("class", "block")
          .attr("fill", "white")
          .attr("fill-opacity", 0.0)
          .attr("id", function(d){ return d.id;})
          .attr("d",path)
          .attr("stroke", 'black')
          .attr("stroke-opacity", 0.0);


      var controlBlocks = svg2.selectAll(".controlBlock")
          .data(buildings.features)
          .enter().append("path")
          
          .attr("class", "controlBlock")
          .attr("fill", "white")
          .attr("fill-opacity",0.0)
          .attr("id", function(d){return d.id;})
          .attr("d",path)
          .attr("stroke", 'gray')
          .attr("stroke-opacity", 0.0)
          .on('click',function(d){console.log(d.id);});

      var line = d3.svg.line()
        .x(function(d){return d[0];})
        .y(function(d){return d[1];});

      // svg2.selectAll('.debugline')
      //   .data(buildings.features)
      //   .enter().append("path")
      //   .attr("class","debugline")
      //   .attr("d",function(d){
      //     var centroid = path.centroid(d);
      //     var centroid2 = projection(d.properties.center);

      //     svg2.append('circle').attr('cx', centroid[0]).attr('cy', centroid[1]).attr('r', 3).attr('fill', 'purple').attr('opacity', 0.5);
      //     svg2.append('circle').attr('cx', centroid2[0]).attr('cy', centroid2[1]).attr('r', 3).attr('fill', 'purple').attr('opacity', 0.5); 
      //     return line([[centroid[0]-3, centroid[1]-3], centroid2]);
      //   })
      //   .attr('stroke','black')
      //   .attr('stroke-width',5)
      //   .attr("fill",'none')
      //   .attr('opacity', 0.5);

      // centerCircle = svg2.selectAll('.centerCircle')
      //     .data(buildings.features)
      //     .enter().append('text')
      //     .text("X")
      //     .attr('class','centerCircle');

      initHandlers();
    } 

    function drawCenterCircle(lng,lat){
      svg2.select('.centerCircle')
        .attr('dx', function(d){ 
          return projection([lng,lat])[0]})
        .attr('dy', function(d){return projection([lng,lat])[1]});
    }

    function drawRoads(){
      $('#building_layer').empty();

      var svg3 = d3.select("#building_layer").append("svg")
        .attr('height',$('#building_layer').height())
        .attr('width', $('#building_layer').width());

      svg3.selectAll(".map")
        .data(roadsGJS.features)
        .enter().append("path")
        .attr("d", path)
        .attr("stroke-opacity", 0.8)
        .attr('stroke-width',0.5)
        .attr("stroke", "white")
        .attr("fill", "blue")
        .attr("fill-opacity", 0.0);
    }

    </script>
    </head>

    <body>
      <div class='container'>
        <div class="title-container"> 
          <a id="logo" href="http://youarehere.cc">
                <img src="{{URL_PREFIX}}static/img/logo_png24.png" style="width: 50px">
          </a>
          <div class="title-text">
                <h1 class="title">
                    <span id="mapClass" class="title-keyword"> Manhattan </span> 
                </h1>
                <div class="subtitle">
                    What is the fastest mode of transport:,<span style='color:#4dac26;'> walking</span>, <span style='color:#fdae61;'> bicycling </span>,<span style='color:#2b83ba;'> transit</span> or <span style='color:#d7191c;'> driving </span> ? &nbsp <b style="color:black;"> Click on the map to explore </b>
                    <span id="showMore"> ... more </span>
                </div>
                <!-- <p  id='introMsg'>Click on the map to explore.</p> -->
          </div>
          <div class="spacer"></div>
        </div>

        <div id='mainframe'>
          <div id="svgContainer">
          </div>
          <!--  id='building_layer' src="{{URL_PREFIX}}static/img/transportation/manhattan2.png">-->
          <div id="building_layer"><i style="position: absolute; left: 500px; top:250px;" class="fa fa-spinner fa-spin fa-3x"></i>
</div>
          <div id="svgControlContainer"></div>
          <p id='hover_value'></p>
      </div>

          <div id="footer">
            <!--<img src="/static/img/logo.png" style="width: 40px;"/> -->
            This work is part of the <a href="http://youarehere.media.mit.edu">You Are Here</a> project
            <span class="footer-plus">+</span>
            <a href="http://socialcomputing.media.mit.edu"> The Social Computing Group </a>
            <span class="footer-plus">+</span>
            <a href="http://media.mit.edu"> MIT Media Lab </a>
          </div>

        <div id='textContainer'>
          
          <p id='dataSentence'> From this location, <span id='walking' style="color:#4dac26" > <span id='walking_value'> </span> of the city can be reached </br> fastest by walking </span>,
          <span id='bicycling' style="color:#fdae61"> <span id='bicycling_value'> </span> by bicycling </span>, <span id='transit' style="color:#2b83ba" > <span id='transit_value'> </span> by taking public </br> transit </span>, and <span id='driving' style="color:#d7191c"> <span id='driving_value'> </span> by driving. </span>
          
           </p>
        </div>

      <div id='essayBox'>
        <div id='essayBox-close' class="glyphicon glyphicon-remove"></div>
        <div id='essayContent'>
      <p>
      We walk to our neighbors' apartments and ride the subway to work. Our walking city is not our subway city is not our driving city.  Each mode of transit creates a different scale and pattern of use. 
      </p>
      <p>
      This map visualizes the fastest mode of transportation from each point in the city to every other point in the city. Diverse modes of transit affect the efficiency of how a city works, and the reach of many of its citizens.  We hope that these maps help shed light on the the way accessibility shapes one's experience of the city, and the need to plan our streets for multiple uses.  
      </p>
      <p>
      This map is activated by selecting a specific departure point.  Once the departure point is selected, the rest of the city will be colored based on the fastest form of transportation.  Those points to which it's fastest to get to by bicycle are colored yellow, by public transit: blue, by walking: green, and by driving: red.  
      </p>
      <p>
      To make this map, we gridded up the city at the block-group level, and then computed the time using each mode of transport from the centroid of the source block group to the centroid of the destination block group using the Google Maps API.  For driving, we added a buffer time for parking and walking, and then we compared the four resulting times and colored the block-group based on the minimum.  
      </p>
      <p>
      A more complete calculation of transportation efficiency would not only take into consideration the time it takes, but the true cost of each mode of transport, including the cost of the vehicle, the cost of fuel, and the effect on air quality.  In these calculations, walking and bicycling would cover even more area, and we will explore this in later maps.
      </p>
        <p style="color:#898989;"> Data Sources </p>
        <ol>
          <li><a href="https://developers.google.com/maps/documentation/javascript/directions">Google Maps Directions Services API </a></li>
          <li><a href="https://nycopendata.socrata.com/">2010 US CENSUS Block Groups - NYC Open Data Portal </a></li>
        </ol>

        </div>
      </div>
    
    </div>
    </body>
</html>
    