<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title> Transit Efficiency - Chicago </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/jquery.tipsy.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/trans-efficiency-cambridge.css"> </style>
    <script type="text/javascript" src='{{URL_PREFIX}}static/js/transportation.js'></script>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47879752-1', 'mit.edu');
      ga('send', 'pageview');

    </script>
    
    <script type="text/javascript">
    $('.container').css('width', '800');
    var scaleFactor = 1.0;
    var mapCenter = [-71.123625,42.372115];
    var labelXoffset = 140;
    var labelYoffset = 25;
    var drawSpeed = 20;
    var segments;
    var dataValues;
    var structuredOffset = false;
    var buildings;
    var moveDown = 0;
    var moveRight = 50;
    var blurConstant = 0.3;
    var cmap = {'walking':"#4dac26", 'transit': "#2b83ba", 'bicycling': "#fdae61", 'driving': "#d7191c"};
    var opacityScales={};
    var centerCircle;
    var previousBlock;
    var originID;
    var neighborhoods;
    var mode = 'individual';

    $(window).load(function(){
      jQuery.getJSON('{{URL_PREFIX}}static/data/Chicago/boundary.geojson', function(geojson){
            geoJSON = geojson;
            setProjection();
            //drawMap();
            initialize();

        d3.json('{{URL_PREFIX}}static/data/Chicago/transportation/block_groups_processed.geojson', function(geojson2){
              buildings = geojson2;
              drawBlocks();


          // d3.json('{{URL_PREFIX}}static/data/Washington/waterbodies_processed.geojson', function(roads){
          //  roadsGJS = roads;
          //   drawBlocks();
            //drawRoads();


           d3.json('{{URL_PREFIX}}static/data/Chicago/transportation/efficiency_values_drtr10.json', function(values){
              dataValues = values; 
              initOpacityScales();
              var initialBlock = dataValues['best']
              originID = initialBlock;
              processBlocks(initialBlock);
              //processAvgBlocks();
              $('#spinningwheel').remove();

            //});
          });
        });
      });
    });


    function drawMap(){
      svg.selectAll(".map")
      .data(geoJSON.features)
      .enter().append("path")
      .attr("d", path)
      .attr('stroke-width',0.5)
      .attr("stroke-opacity", 0.1)
      .attr("stroke", "white")
      .attr("fill", "white")
      .attr("fill-opacity",0.0);
    }

//rgba(43, 40, 40, 1.0)
    function initOpacityScales(){
      var power = 3.0;
      var avg_power =9.0;
      var ranges = dataValues['ranges'];
      opacityScales['efficiency-color'] = d3.scale.pow().exponent(power).domain([1, 10]).range(["#0A86A1","#07C8F2"]);
      opacityScales['efficiency-op'] = d3.scale.pow().exponent(power).domain([1, 10]).range([0.0,1.5]);
      opacityScales['avg-color'] = d3.scale.pow().exponent(avg_power).domain([ranges['avg'][0], ranges['avg'][1]]).range(['#ED7D05','#ED7D05']);
      opacityScales['avg-op'] = d3.scale.pow().exponent(avg_power).domain([ranges['avg'][0], ranges['avg'][1]]).range([0.0,1.0]);
    }

    function initHandlers(){

      if (previousBlock != undefined){
        d3.select(previousBlock).attr('stroke','gray').attr('stroke-opacity',0.0);
      }
      $('.block').click(function(){


        if (mode != 'average'){
          $('#hover_value').css('display','none');
          var this_id = $(this).attr('id');
          var block_value = dataValues[originID][this_id];
          if (block_value > 10) {return}
          console.log('id = ' + this_id);
          originID = this_id;
          previousBlock = d3.select(this);
          processBlocks(this_id);    
        }
      });

      $('.block').on('mouseover', function(){
        var this_id = $(this).attr('id');
        if (mode != 'average'){
          if (dataValues[originID][this_id] != undefined){
            var block_value = dataValues[originID][this_id];
            if (block_value > 10) {return}
            $('#hover_value').css('display', 'inline');
            $('#hover_value').offset({left:$(this).offset().left - 50, top: $(this).offset().top - 20});
            $('#hover_value').html('&nbsp'+ 'This location has a transit efficiency score of  &nbsp' + block_value.toFixed(1) + '&nbsp out of 10'+'&nbsp');
          } else {
            $('#hover_value').css('display', 'none');
          }
        } 
      });

      $('.block').on('mouseleave', function(){
        $('#hover_value').css('display','none');
      });

      $('.mode').click(function(){

        if (mode =='individual'){
          mode = 'average';
          processAvgBlocks();
          $(this).html('Explore Map');
          $(this).css('color','#24BEE0');
        } else{
          mode = 'individual';
          var initialBlock = dataValues['best']
          originID = initialBlock;
          processBlocks(initialBlock);
          $(this).html('Show most connected areas by Public Transit');
          $(this).css('color','#ED7D05');
        }
      });

    }

    function processAvgBlocks(){
      mode = 'average';
      svg.select('.centerCircle').remove();
      svg.selectAll('.block').each(function(){
            var block_id = $(this).attr('id');   
            var block_avg = dataValues[block_id]['avg'];         
            var colorValue= opacityScales['avg-color'](block_avg);
            var opacityValue = opacityScales['avg-op'](block_avg);
            d3.select(this)
              .attr('fill', colorValue)
              .attr('fill-opacity',opacityValue);
      });
    }

    function processBlocks(this_id){
      svg.selectAll('.block').each(function(){
          var block_id = $(this).attr('id');
          if (block_id != this_id){

            var block_value = dataValues[this_id][block_id];
            if (block_value > 10){ 
              var colorValue= '#0A86A1';
              var opacityValue = 0.1;
            }
            else {
              var colorValue= opacityScales['efficiency-color'](block_value);
              var opacityValue = opacityScales['efficiency-op'](block_value);
            }
            d3.select(this)
              .attr('fill', colorValue)
              .attr('fill-opacity',opacityValue);
          } else {
            d3.select(this)
              .attr('fill','white')
              .attr('fill-opacity',1.0)
              .each(function(d){
                drawCenterCircle(d.properties.center[0], d.properties.center[1]);
              });
          }
          
        });

        $('#dataSentence').css('display','inline');
        var avg_eff_value = 0;
        for (var id2 in dataValues[this_id]){
          avg_eff_value += dataValues[this_id][id2];
        }
        console.log(avg_eff_value);
        avg_eff_value = avg_eff_value / buildings['features'].length;
        console.log(avg_eff_value, buildings['features'].length);
        $("#eff_value").html(avg_eff_value.toFixed(2));
    }

    function convertTime(timeInSeconds){
      var minutes = Math.round(timeInSeconds / 60);
      var seconds = timeInSeconds % 60;
      return minutes + ' minutes ' + seconds + ' seconds';
    }

    function drawBlocks(){

      $('body').css('background-color', 'rgba(20,20,20,0.85)');
      var blurConstant = 0.4;
      var filter = svg.append("defs")
        .append("filter")
          .attr("id", "blur")
        .append("feGaussianBlur")
          .attr("stdDeviation", blurConstant);

      var buildingsPaths = svg.selectAll(".block")
          .data(buildings.features)
          .enter().append("path")
          
          .attr("class", "block")
          .attr("fill", 'white')
          .attr("fill-opacity", 1.0)
          .attr("id", function(d){return d.id;})
          .attr("d",path)
          .attr("stroke", 'black')
          .attr("stroke-opacity", 0.0);

      var nhoodtexts = svg2.selectAll('.nhoodlabel')
        .data(neighborhoods)
        .enter().append('text')
          .attr('class','nhoodlabel')
          .text(function(d){return d.name;})
          .attr('dx', function(d){return projection([parseFloat(d.lng), parseFloat(d.lat)])[0] - 10})
          .attr('dy', function(d){return projection([parseFloat(d.lng), parseFloat(d.lat)])[1]});

      var controlBlocks = svg2.selectAll(".controlBlock")
          .data(buildings.features)
          .enter().append("path")
          
          .attr("class", "controlBlock")
          .attr("fill", 'white')
          .attr("fill-opacity", 0.0)
          .attr("id", function(d){return d.id;})
          .attr("d",path)
          .attr("stroke", 'gray')
          .attr("stroke-opacity", 0.0);

      centerCircle = svg.selectAll('.centerCircle')
          .data(buildings.features)
          .enter().append('text')
          .attr('fill','red')
          .text("X")
          .attr('class','centerCircle');

      initHandlers();
    } 

    function drawCenterCircle(lng,lat){
      svg.select('.centerCircle')
        .attr('dx', function(d){ 
          return projection([lng,lat])[0]})
        .attr('dy', function(d){return projection([lng,lat])[1]});
    }

    function drawRoads(){

      svg.selectAll(".map")
        .data(roadsGJS.features)
        .enter().append("path")
        .attr("d", path)
        .attr("stroke-opacity", 0.4)
        .attr('stroke-width',0.5)
        .attr("stroke", "black")
        .attr("fill", "white")
        .attr("fill-opacity", 0.95);
    }

    function drawNTags(){
      var nhoodtexts = svg.selectAll('.nhoodlabel')
        .data(neighborhoods)
        .enter().append('text')
          .attr('class','nhoodlabel')
          .text(function(d){return d.name;})
          .attr('fill','white')
          .attr('fill-opacity',0.3)
          .attr('dx', function(d){return projection([parseFloat(d.lng), parseFloat(d.lat)])[0] - 10})
          .attr('dy', function(d){return projection([parseFloat(d.lng), parseFloat(d.lat)])[1]});
    }

    </script>
    </head>

    <body>
      <div class='container'>
        <div class="title-container"> 
          <a id="logo" href="http://youarehere.cc">
                <img src="{{URL_PREFIX}}static/img/logo_png24.png" style="width: 50px">
          </a>
          <div class="title-text">
                <h1 class="title">
                    <span id="mapClass" class="title-keyword"> Chicago </span> 
                </h1>
                <div class="subtitle">
                    What is the efficiency of the public transport network for each neighborhood? &nbsp <b>Click on the map to explore.</b><span id="showMore"> ... more </span>
                </div>
                <!-- <p  id='introMsg'>Click on the map to explore.</p> -->
          </div>
          <div class="spacer"></div>
        </div>

        <div id='mainframe'>
          
          <div id="svgContainer">
            <i id='spinningwheel' style="position: absolute; left: 500px; top:250px;" class="fa fa-spinner fa-spin fa-3x"></i>
          </div>
          <!-- <img id='building_layer' src="{{URL_PREFIX}}static/img/transportation/cambridge3.png">
          <div id="svgControlContainer"></div> -->
          <p id='hover_value'></p>
      </div>

          <div id="footer">
            <!--<img src="/static/img/logo.png" style="width: 40px;"/> -->
            This work is part of the <a href="http://youarehere.cc">You Are Here</a> project
            <span class="footer-plus">+</span>
            <a href="http://socialcomputing.media.mit.edu"> The Social Computing Group </a>
            <span class="footer-plus">+</span>
            <a href="http://media.mit.edu"> MIT Media Lab </a>
          </div>

        <div id='textContainer'>
          <p class='mode' style='color:#ED7D05;'> Show most connected areas by Public Transit </p>
        </div>

      <div id='essayBox'>
        <div id='essayBox-close' class="glyphicon glyphicon-remove"></div>
        <div id='essayContent'>
       <p>
      Public transit is one of the most equitable and environmentally sustainable forms of urban transportation.  Robust public transit infrastructures can free us from using cars, lessen pollution, ease congestion, and empower communities.
      </p>
      <p>
      This map visualizes the efficiency of the public transit infrastructure for different neighborhoods in the city. For each point in the city, we query the times it takes to reach every other point by riding public transit and by driving a car. We then divide the former with latter. This ratio represents the efficiency of a transit system. We normalize each scores by dividing it by the maximum ratio in a city and multiplying by 10, giving a relative transit efficiency score for each neighborhood.  Darker areas (closer to 0) are transit deserts where cars are a necessity, while lighter areas (closer to 10) are places where public transit represents a more viable alternative.
      </p>
      <p>
      We believe that a vibrant public transportation network is an essential feature of the modern city, and we hope these maps can contribute to a discussion around the future of these networks. 
      </p>
      <p>
      To make this map, we gridded up the city at the block-group level, and then computed the time using each mode of transport from the centroid of the source block group to the centroid of the destination block group using the Google Maps API. For driving, we added a buffer time for parking and walking, and then we divided both resulting times and colored the block-group based on the minimum. 
      </p>
      <p>
      A more complete calculation of transit efficiency would not only take into consideration the time it takes, but the true cost of each mode of transport, including the cost of the vehicle, the cost of fuel, and the effect on air quality, and we will explore this in future maps.
      </p>
        <p style="color:#898989;"> Data Sources </p>
        <ol>
          <li><a href="https://developers.google.com/maps/documentation/javascript/directions">Google Maps Directions Services API </a></li>
        </ol>

        </div>
      </div>
    
    </div>
    </body>
</html>
    