<!DOCTYPE HTML>
<html>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<style>
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
	</style>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/static/js/GeoJSON.js"></script>
	<script src="/static/js/d3.v3.min.js"></script>
    <script type="text/javascript">
		var map, googleMapsVector, inPoints, allPoints;  
       function initialize() {
         var mapOptions = {
           center: new google.maps.LatLng(42.372115,-71.113325),
           zoom: 14
         };
		 
         map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		 
		 var googleOptions = {
		   strokeColor: '#CCC',
		   strokeWeight: 1
		 };



		 
		 $.getJSON('/static/data/Cambridge/boundary.geojson', {}, function (data) {
			 googleMapsVector = new GeoJSON(data, googleOptions);
			 console.log(googleMapsVector);
			 for (var i = 0; i < googleMapsVector.length; i++) {
			 	//console.log(googleMapsVector[i]);
			 	 googleMapsVector[i].setMap(map);
			 }
			 googleMapsVector[0].setMap(map);
			 //return;
			 d3.csv('/static/data/Cambridge/skyprints_grid.csv', function (error, csvData) {
				 inPoints = [];
				 allPoints = [];
				 console.log(csvData.length);
				 for (var i = 0; i < csvData.length; i++) {
					 var d = csvData[i];
					 var latlng = new google.maps.LatLng(parseFloat(d.lat), parseFloat(d.lng)); 
					 allPoints.push(latlng);
					 //console.log(d);
					 for (var j = 0; j < googleMapsVector.length; j++) {

						 var shp = googleMapsVector[j]; 
						 var isInside = google.maps.geometry.poly.containsLocation(latlng, shp); 
						 if (isInside) {
							 inPoints.push(latlng);
							 var circleOptions = {
							  strokeColor: '#FF0000',
						      strokeOpacity: 0.0,
						      strokeWeight: 2,
						      fillColor: '#FF0000',
						      fillOpacity: 0.8,
						      map: map,
						      center: latlng,
						      radius:10
							}
							console.log(d.lat, d.lng);
							pointCircle = new google.maps.Circle(circleOptions)
						 }
					 }
				 }
				 console.log("HERE")
				 console.log("inpoints= ", inPoints.length);
				 var filteredCSVData = inPoints.map(function (d) { return {'lat': d.lat(), 'lng': d.lng()}}); 

				 var f = d3.csv.format(filteredCSVData);
				 console.log(f);
				 // $.get('/savePoints', {'data': f}, function (response) {
				 // 					 console.log(response);
				 // });
			 });
		 });
			
       }
       google.maps.event.addDomListener(window, 'load', initialize);
     </script>
	<head>
		<title>City Boundaries</title>
	</head>
	<body>
		<div id="map-canvas"></div>
	</body>
</html>