<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZnvqy9HEpG-LAQwm_AxDOegMciI9jgP4&libraries=geometry&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/tipsy.css"/> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{URL_PREFIX}}static/css/accidents.css"> </style>
    <script type="text/javascript" src="{{URL_PREFIX}}static/js/accidents_utils.js"></script>


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47879752-1', 'mit.edu');
      ga('send', 'pageview');

    </script>

<script type="text/javascript">

var mapCenter = [-87.715044,41.93202];
var scaleFactor = 0.98;
var blurConstant = 0.3;
var clusterStrokeOpacity = 0.3;
var clusterStrokeWidth = 3;
var shellRandomShift = 0.002;
var shellOpacity = 0.2;
var coreOpacity = 0.5;


$(window).load(function(){


  jQuery.getJSON('{{URL_PREFIX}}static/data/Chicago/boundary.geojson', function(geojson){
    geoJSON = geojson;
    setProjection();
    drawMap();
    initialize();
    jQuery.getJSON('{{URL_PREFIX}}static/data/Chicago/final_data2.json', function(data){
    console.log(data);
      allData= data;
      accidentData = allData["accidents"]["2012"];
      finalClusters = allData["clusters"]["2012"];
      processChartData(allData["streets"]["2012"]);
      drawCircles();
    });
  });



});


</script>
</head>
<body>
  <img id="logo" src="{{URL_PREFIX}}static/img/logo.png">
  <div id="drawer">
      <svg height='50' width='50' style="z-index:1">
          <circle cx="25" cy="25" r="15" stroke-opacity="0.0" fill="#FA8602" fill-opacity="0.5" />
      </svg>
      <i id='button-icon' class="glyphicon glyphicon-chevron-left"></i>
  </div>

  <div id="infoGraphic">     
    <br></br>
    <br></br>
    <div id="tabContainer">
      <ul id="infoTabs" class="nav nav-tabs">
        <li id="tab_1" style="background-color:rgba(43, 40, 40, 0.7);"> Street Graph </li>
        <li id="tab_2"> Street View</li>
      </ul>
    </div>
    <div id="paneContent">
      <div id="tabcontent_1" >
        <br></br>
        <p align="center"> Accidents by Street </p>
        <p id="chartTitle" align="center"> </p>
        <div id="chart"> </div>
      </div>
      <div id="tabcontent_2">
        <br></br>
        <p id="address" align="left">Hover over an accident to explore.</p>
        <div id="street-view" > </div>
        <br></br>
      </div>
    </div>
  </div>
    
    <div id="svgContainer"></div>


    <p id='title'> Chicago </p>
    <!--<p id='years'> 2012 </p>
    <p id='numAccidents'> 1570 bicycle accidents </p>-->

    <div id='map-descp'>
      This map visualizes the 1570 bicycle accidents that were reported in Chicago in 2012.
      <br>
    </div>

    <div id='data-lightbox'>
      This map visualizes the 1570 bicycle accidents that were reported in Chicago in 2012.
      <br>
      Milwaukee Avenue, Clark Street, and Ashland Avenue</span> had the most accidents during this time.  
      <br>
      The data was given to us by the <a href="http://illinois.gov/" class="footer-highlight-link"> Illinois Government </a>
    </div>

    <div id="footer">
      <!--<img src="/static/img/logo.png" style="width: 40px;"/> -->
      This work is part of the <a href="http://youarehere.media.mit.edu">You Are Here</a> project
      <span class="footer-plus">+</span>
      <a href="http://socialcomputing.media.mit.edu"> The Social Computing Group </a>
      <span class="footer-plus">+</span>
      <a href="http://media.mit.edu"> MIT Media Lab </a>
      <span class="footer-plus">+</span>
      <a href="http://mit.edu"> MIT</a>
      &nbsp
      <span class="footer-plus">|</span>
      &nbsp
      <span id="data-source" class='footer-highlight'> Data Source</span>
    </div>

</body>
</html>
    