<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>311 Noise</title>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="{{URL_PREFIX}}static/css/scale.css"/>
    </head>
    <body>
		<a href="http://youarehere.media.mit.edu"><img id="logo" src="{{URL_PREFIX}}static/img/logo.png" width="25" height="25" alt="Logo"></a>
		<div id = "title"><span style="color:#E53F21">Human</span> vs. <span style="color:#4776DB">Machine</span></div> 
		<div id = "subtitle">Noise Complaints in New York City 2010 - 2013</div>
		<div id = "label1">Incidents per Location</div>
		
		<div id = "barchart">
			<div id="slider"></div>
		</div>

		

		<div id = "mapContainer"></div>
		
		<div id = "filter"> 
			<form>
			<label><input type="radio" name="layout" value="human"><span style="color:#E53F21">human</span></label><br/>
    		<label><input type="radio" name="layout" value="machine"><span style="color:#4776DB">machine</span></label><br/>
    		<label><input type="radio" name="layout" value="all"><span style="color:#000000">all</span></label>
			
			</form>
		</div>

		<div id="footer">
	        This work is part of the <a href="http://youarehere.media.mit.edu">You Are Here</a> project
	        <span class="footer-plus">+</span>
	        <a href="http://socialcomputing.media.mit.edu"> The Social Computing Group </a>
	        <span class="footer-plus">+</span>
	        <a href="http://media.mit.edu"> MIT Media Lab </a>
	        <span class="footer-plus">+</span>
	        <a href="http://mit.edu"> MIT</a>
	        &nbsp
	        <span class="footer-plus">|</span>
	        &nbsp
	        <span id="data-source" class='footer-highlight'> Data Source</span>
	    </div>

	    <div id='data-lightbox'>
		    <div id='lightbox-close' class="glyphicon glyphicon-remove"></div>
		    Data is the shizzle <a href="http://illinois.gov/" class="footer-highlight-link"> Illinois Government </a>
		</div>

		<p id="noise_stats"></p>
		
	<script type="text/javascript">
	var w = 80;
	var h = 400;
	var padding = 40;
	var svg2;

	var dataset = null;
	var bounded_data = [];
	var svg;
	var projection;
	var lower = 42.5;		
	var upper = 765;
	var geoJSON;
	var path;
	var lightBoxShown = false;

	


	d3.json('{{URL_PREFIX}}static/data/scale/nyc-borough-boundaries-polygon.geojson',function(geojson){
		geoJSON = geojson;
		initializeSVG();
		bindHandlers();
				
		d3.csv('{{URL_PREFIX}}static/data/scale/all_clean_noquot.csv', function(data){
			dataset = data;
			
			bound_data(lower,upper);
			generateVis();
			initializeSlider()
			
		});

	})
	function bindHandlers(){
		$('#data-source').click(function(){
		    lightBoxShown = true;
		    $('#mapSVG').css('opacity',0.3);

		    var windowWidth = $(window).width();
		    var windowHeight = $(window).height();
		    var selfWidth = $(this).width(); var selfHeight = $(this).height();
		    var moveX = 0.4*(windowWidth - selfWidth);
		    var moveY = 0.35*(windowHeight - selfHeight);

		    $('#data-lightbox').animate({
		        'opacity':1.0}, 1500
		    );
		   });

		  $('#mapSVG').click(function(){
		      closeLightBox();
		  });

		  $('#lightbox-close').click(function(){
		    closeLightBox();
		});

		d3.select("input[value=\"human\"]").on("click", function(){ filter_data('human');});
		d3.select("input[value=\"machine\"]").on("click",function(){ filter_data('machine')});
		d3.select("input[value=\"all\"]").on("click", function(){filter_data('all')});
	}

	function closeLightBox(){
	  if (lightBoxShown){
	      $('#data-lightbox').animate({
	        'opacity':0.0}, 'fast'
	      );

	      $('#mapSVG').animate({'opacity':1.0},'slow');
	      lightBoxShown = false;
	    };
	}

	function bound_data(lower, upper){
		
		bounded_data = [];
		for(var i in dataset){
			var frequency = parseFloat(dataset[i].frequency);
			if (frequency < upper && frequency > lower+2){
				bounded_data.push(dataset[i])
			}
		}
		console.log(bounded_data,bounded_data.length);
		$('#mapSVG').empty();
		
		generateMap();
		drawPolygon();
	}
	
	function initializeSlider(){
		$("#slider").slider({
			orientation:"vertical",
			range:true,
			values:[5,90],
			slide:function (event, ui){
				
				var maxHeight = $('#barchart').height();
				var lowerValue = sliderScale(ui.values[0]);
				var upperValue = sliderScale(ui.values[1]);
				console.log(lowerValue, upperValue);
				bound_data(lowerValue, upperValue);
				
			}
		});
	}
	

	function filter_data(selected_category){
		// works for radio buttons
		svg.selectAll("rect").each(function(d){
			if (d.category ==selected_category){d3.select(this).transition().duration(2000).style('opacity', 0.1);}
			else if (selected_category == 'all'){d3.select(this).transition().duration(2000).style('opacity', 0.1);}
			else {d3.select(this).transition().duration(2000).style('opacity', 0.0);}
		});
	}
	
	
	var sliderScale = d3.scale.linear()
	.domain([0,100])
	.range([0,850]);
	
	
	var yScale = d3.scale.linear()
		.domain([0,850])
		.range([h-20,10]);
		
		
	function generateVis(){
		console.log("generate")
		console.log("scale")
		
		var rect = svg2.selectAll("rect")
			.data(dataset)
			.enter()
			.append("rect")
			.attr("width",20)
			.attr("x",40)			
			.attr("y",function(d){return yScale(parseFloat(d.frequency))})
			.attr("height", 2)
			.attr("fill",function(d){
				if(d.category == "human"){
				return "#E53F21";
				}else{
				return "#4776DB";}
				})
			.attr("opacity",0.1);
		var yAxis = d3.svg.axis()
			.scale(yScale)
			.orient("left")
			.ticks(8);
			svg2.append("g")
			.attr("class", "axis")
			.attr("transform", "translate("+padding+",0)")
			.call(yAxis);
	};
	
	
	function initializeSVG(){
		var w = 600;
		var h = 800;
		svg = d3.select("body")
					.append("svg")
					.attr("width", w)
					.attr("height", h)
					.attr("id", 'mapSVG')
			   	 	.attr("class", "mapContainer");
					
		//Define map projection
		projection = d3.geo.mercator()
	   						   .center([-73.95949836511184,40.85003986269106])
							   .translate([w/2, h/2])
							   .scale([35000]);
		//Define path generator
		path = d3.geo.path()
						 .projection(projection);
						 
		svg2 = d3.select("#barchart")
				.append("svg")
				.attr("id",'barSVG')
				.attr("width", w)
				.attr("height", h);
	}

	var noise_stats = {}
	noise_stats['Brooklyn'] = {'total':31733, 'human':72.33, 'machine':27.67};
	noise_stats['Manhattan'] = {'total':46640, 'human':57.05, 'machine':42.95};
	noise_stats['Bronx'] = {'total':11639, 'human':83.76, 'machine':16.24};
	noise_stats['Staten Island'] = {'total':2906, 'human':68.03, 'machine':31.97};
	noise_stats['Queens'] = {'total':17212, 'human':70.36, 'machine':29.64};
			
	function generateMap(){
		console.log("generate map")
		
		svg.selectAll("rect")
		.data(bounded_data)
		.enter()
		.append("rect")
		.attr("x", function(d){return projection([d.lng, d.lat])[0];})
		//.attr("cy", 20)
		.attr("y", function(d){return projection([d.lng, d.lat])[1]-parseFloat(d.frequency)})
		.attr("height", function(d){return parseFloat(d.frequency)})
		.attr("width", 1)
		.attr("fill",function(d){
			if(d.category == "human"){
			return "#E53F21";
			}else{
			return "#4776DB";}
			})
		.style("opacity", 0.1)
	};
	
	function drawPolygon(){
		var boroughs = svg.selectAll('.borough')
		.append("g")
		.data(geoJSON.features)
		.enter()
		.append('path')
		.attr('class', 'borough')
		.attr('fill', 'white')
		.attr('fill-opacity', 0.0)
		.attr('stroke', 'black')
		.attr('stroke-opacity', 0.1)
		.attr('z-index', '10')
		.attr('d', path)
		.on('mouseover', function(d){
			var name = d.properties.borough;
			$('#noise_stats').html('<b>' + name +'</b> is '+  noise_stats[name]['human'] + '%  <span style="color:#E53F21;"> human </span> and ' + noise_stats[name]['machine']+ '% <span style="color:#4776DB;"> machine. </span>' );
		})
		.on('mouseout', function(d){
			$('#noise_stats').html('');
		});
	}
	
	
		</script>
    </body>
</html>