<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/> 
    <link rel="stylesheet" type="text/css" href="/static/css/tipsy.css"/> 
    <script type="text/javascript" src="/static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <style type="text/css">

  html, body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif;
    }

    #map, #roadImg {
        width: 70%;
        height: 100%;
        float:left;
        border-left: 5px;
    }
    
    #infoGraphic{
      position: absolute;
      height: 100%;
      width: 29%;
      left: 71%;
      margin-right: 2%;
      margin-top:2%;
      float:right;
    }

    #paneContent{
      height:100%;
      width:100%
    }
    #tabcontent_1{
      height:100%;
      width:100%
    }

    #tabcontent_2{
      height:100%;
      width:100%
    }

    #tabcontent_3{
      height:100%;
      width:100%
    }



    #street-view{
      width:95%;
      height:60%%;

    }


.stations, .stations svg {
  position: absolute;
  filter: blur(5px);
  -webkit-filter: blur(10px);
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
  filter: blur(5px);
  -webkit-filter: blur(10px);
}

.stations circle {
  fill: #74BA29;
  stroke: #74BA29;
  filter: blur(5px);
  -webkit-filter: blur(10px);
}

    </style>
    <script type="text/javascript">
    var greenery_data;
    var map;

window.onload = function (){

  map = new google.maps.Map(d3.select("#map").node(), {
  zoom: 14,
  center: new google.maps.LatLng(37.756601,-122.436844),
  mapTypeId: google.maps.MapTypeId.ROAD,
  streetViewControl: false,
  zoomControl: false,
  panControl:false
});

var styles = [
    {
        "featureType": "landscape",
        "stylers": [
          { "visibility": "simplified" },
          { "color": "#FFFFFF" }
        ]
      },{
        "featureType": "poi",
        "stylers": [
          { "visibility": "off" },
          { "color": "#FFFFFF" }
        ]
      },{
        "featureType": "road",
        "stylers": [
          { "visibility": "off" },
          { "color": "#FFFFFF" },
          { "lightness": 4 }
        ]
      },{
        "featureType": "railroad",
        "stylers": [
          { "visibility": "off" },
          { "color": "#FFFFFF" },
          { "lightness": 4 }
        ]
      },{
        "elementType": "labels",
        "stylers": [
          { "visibility": "off" }
        ]
      },{
        "featureType": "water",
        "stylers": [
          { "hue": "#109BE0" },
          { "color": "#109BE0" }
        ]
      },
       { "featureType": "poi",
          "stylers": [
          {"visibility": "off"}
          ]
        }

    ]
  map.setOptions({styles: styles});


  jQuery.getJSON('/static/data/out_sf1.json', function(data){
      greenery_data = data;      
      drawCircles();  
      drawChart();
    });

}


function drawCircles(){
  //console.log(data);



  var overlay = new google.maps.OverlayView();

  // Add the container when the overlay is added to the map.
  overlay.onAdd = function() {
    var layer = d3.select(this.getPanes().overlayLayer).append("div")
        .attr("class", "stations");
    
    // Draw each marker as a separate SVG element.
    // We could use a single SVG, but what size would it have?
    overlay.draw = function() {

      var arr = [0.1, 0.05, 0.05, 0.5];
      var sizeArr = [2,4,6];
      var values = d3.entries(greenery_data).values;
      var projection = this.getProjection(),
          padding = 10;
          opacity=0;
          size = changeSize();

      var marker = layer.selectAll("svg")
          .data(d3.entries(greenery_data))
          .each(transform) // update existing markers
          .each(changeOpacity)
        .enter().append("svg:svg")
          .each(transform)
          .each(changeOpacity)
          .attr("class", "marker");

      // Add a circle.
      marker.append("svg:circle")
          .attr("r", function(d){
            return d.value[3];
          })
          .attr("cx", padding)
          .attr("cy", padding)
          .style("fill-opacity", function(d){
            //console.log("v = " + d.value[2]);
            return d.value[2]})
          .style("stroke-opacity", 0)
          .on('click', function(d){

            latlng = new google.maps.LatLng(d.value[0], d.value[1]);
            console.log('click!', latlng);
            toggleStreetView(latlng, true);
          });

      function changeOpacity(d){
        opacity = d.value[2];
        //console.log(d.value[2]);
        return d.value[2];
      }

      function changeSize(d){
        var r = Math.floor(Math.random() * 2);
        size = arr[r];
        return size;
      }
      
      function transform(d) {
        d = new google.maps.LatLng(d.value[0], d.value[1]);
        d = projection.fromLatLngToDivPixel(d);
        return d3.select(this)
            .style("left", (d.x - padding) + "px")
            .style("top", (d.y - padding) + "px");
      }

  };
}

  // Bind our overlay to the map…
  overlay.setMap(map);
}
  

function drawChart(){
  var chartHeight = $("#chart").height();
  var chartWidth = $("#chart").width();

  var x = d3.scale.linear().range([0, chartWidth]),
    y = d3.scale.linear().range([chartHeight, 0]);

  var area = d3.svg.area()
    .interpolate("monotone")
    .x(function(d) { return x(d.key); })
    .y0(chartHeight)
    .y1(function(d) {return y(d.value[2] * 100); });

  var svg = d3.select("#chart").append("svg")
      .attr("width", chartWidth)
      .attr("height", chartHeight);
  
  // svg.selectAll("path")
  //   .datum(d3.entries(greenery_data))
  //   .attr("class", "area")
  //   .attr("d", area);

  svg.selectAll("rect")
              .data(d3.entries(greenery_data))
            .enter().append("rect")
              .attr("x", function(d, i) { return i})
              .attr("y", function(d){
                console.log(d); 
                return chartHeight - (d.value[2]) * chartHeight;})
              .attr("height", function(d) {return (d.value[2]) * chartHeight;})
              .attr("width", 5)
              .attr("fill", "#74BA29")
              .attr("stroke", "#74BA29")
              .attr('opacity',0.3)
}


function toggleStreetView(latlng, show){

        console.log("in toggle sv");
        
        if (show){
          var panoramaOptions = {
            position: latlng,
            pov: {
              heading: 0,
              pitch: -10,
              zoom: 1
            },
            map: map,
            navigationControl: false,
            enableCloseButton: false,
            addressControl: false,
            linksControl: false,
            panControl:false,
            zoomControl:false
        };
       
        pano = new google.maps.StreetViewPanorama(document.getElementById("street-view"), panoramaOptions);
        } else{
          $('#street-view').html('');
        }
  }

    </script>
    </head>
    <body>
    <div id="infoGraphic">
        <p align="center" top="10%" style="color:#74BA29;font-size:15pt"> San Francisco - Greenery</p>
         
        <br></br>
        <div id="tabConatiner">
          <ul id="infoTabs" class="nav nav-tabs">
            <li  id="tab_1" class="active" ><a href="#" style="color:#74BA29;">Info Graphics</a></li>
            <li id="tab_2" ><a  href="#" style="color:#74BA29;">Street View</a></li>
          </ul>
        </div>

        <div id="paneContent">
          
          <div id="tabcontent_1" >

            
            <p id="chartTitle" align="center" style="color:#74BA29;font-size:11pt"> </p>
            <br></br>
            <div id="chart" style="width:95%; height:50%;"> </div>
          </div>

          <div id="tabcontent_2">
            <div id="street-view" > </div>
          </div>
          
        </div>


      </div>
        
      <div id="map"></div>
  </body>
</html>