<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>311 Noise</title>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<style type="text/css">
		#slideBar{
			position:relative;
			top:200px;
			left:200px;
			height: 100px;
			width: 20px;
			background-color: blue;

		}
		</style>
		<script type="text/javascript">


		</script>
    

    </head>
    <body>
    	<div id='slideBar'></div>

    </body>

 </html>